html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: blue;
  background: url('https://as2.ftcdn.net/v2/jpg/04/75/08/11/1000_F_475081166_A1YI8Oan7Cq84OGpqGE8RCBDUae4Xvrc.jpg') center / cover no-repeat fixed;
}

.logo {
  float: right;
  position: relative;
  bottom: 10vh;
  width: 10%;
}

.intro {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.intro p {
  margin: 10px;
}

span {
  margin: 10px;
  color: gold;
  font-style: italic;
}

.app {
  background: white;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  text-align: center;
}

.btn {
  width: 50%;
  background-color: white;
  border-radius: 4px;
  margin: 3px;
  position: relative;
  left: 25%;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover:not([disabled]) {
  background-color: lightyellow;
}

.btn:disabled {
  cursor: no-drop;
}

#next {
  width: 20%;
  background-color: lightgreen;
  border-radius: 4px;
  margin: 3px;
  position: relative;
  left: 79%;
  cursor: pointer;
  transition: all 0.3s;
  display: none;
}

#next:hover {
  background-color: darkgreen;
}

#image {
  position: relative;
  left: 12vw;
  border: 5px solid black;
  margin: 1rem;
}

#timer{
  text-align: end;
  font-size: 20px;
  color: crimson;
  border: 5px solid silver;
  float: right;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}